{% extends "Campionato/sel_campionato.html" %}
{% block sel_squadra %}
    <div class="col-md-4">
    {% if squadre %}
        <label class="description" for="sel_squadra">Seleziona una squadra:</label>
        <div>
            <select class="custom-select" name="squadra" id="sel_squadra" form="selector">
                {% for squadra in squadre %}
                    <option class="custom-option" value="{{ squadra.nome }}">{{ squadra.nome }}</option>
                {% endfor %}
            </select>
        </div>
    {% else %}
        <p>Nessuna squadra registrata</p>
    {% endif %}
    </div>
{% endblock sel_squadra %}